*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

section{
    width: 100vw;
    height: 100vh;
    background-color: #004423;
}

.leafImg{
    position: absolute;
    top: 0;
    width: 25vw;
    right: 1vw;
}

.top img{
    width: 50px;
    margin: 3vh 5vh;
}

.content{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 80vh;
    margin: 10px auto;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1{
    font-size: 3.5rem;
    margin-bottom: 5vh;
}

table{
    margin-top: 3vh;
    padding: 1vw;
    background-color:#012413 ;
    z-index: 1;
    border-radius: 15px;
    border-collapse: collapse;
    font-size: 1.2rem;
}

th{
    border-bottom: 1px solid white;
    padding: 1vw;
    border-right: 1px solid white;
}

td{
    border-right: 1px solid white;
    text-align: center;
    padding: 1vw;
}

th:last-child{
    border-right: 0;
}

td:last-child{
    border-right: 0;
}
