<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/atividades.css">
</head>
<body>
    <section>
        <div class="content contentM" >
            <div class="titleM">
                <h1><%= titulo %></h1>
                <p class="mensagem"><%- texto %></p> 
            </div>
            <a href="<%= buttonLink %>" id="linkM"><%= buttonTitle %></a>
        </div>
        
    </section>
   
</body>
</html>

