<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/atividades.css">
</head>
<body>
    <section>
        <div class="top">
            <a href="atividades"><img id="backIcon" src="/recursos/arrow-left.svg" alt=""></a>
        </div>
        <div class="content">
            <h1>Minhas Atividades</h1>
            <div id="activity-list" class="atividadeLi"></div>
        </div>
    </section>
    <img class="leafImg" src="/recursos/leaf2.svg" alt=""> 
    
    <script>
    let username = "<%= username %>";
    const xhttp = new XMLHttpRequest();

    xhttp.onload = function () {
    if (this.status === 200) {
      const activities = JSON.parse(this.responseText);
      const list = document.getElementById('activity-list');
      list.innerHTML = '';

    activities.forEach(activity => {
        let todasAtividades = document.createElement('a')
        todasAtividades.className='atividades';
        todasAtividades.className='minhas';
        todasAtividades.href=`/abre_atividade/${activity.titulo}`

        let imageBox = document.createElement('div')
        imageBox.className="imageBox";
        let image = document.createElement('img')
        image.className="imageAti"
        imageBox.appendChild(image)
        image.src=`uploads/` + `${activity.imagem}`

        let descr = document.createElement('div')
        descr.className='descr';

        let h3 = document.createElement('h3')
        h3.textContent=`${activity.titulo}`;

        let details = document.createElement('div')
        details.className='details';

        let data = document.createElement('p');
        data.innerHTML=`<b>Data</b>: ${activity.data}`;
        data.className="para"

        let local = document.createElement('p');
        local.innerHTML=`<b>Localidade</b>: ${activity.localidade}`;
        local.className="para"

        let abrirBtn = document.createElement('a');
        abrirBtn.textContent="Abrir";
        abrirBtn.className="abrirButtons";
        abrirBtn.href=`/abre_atividade/${activity.titulo}`

        list.appendChild(todasAtividades)
        todasAtividades.appendChild(imageBox)
        todasAtividades.appendChild(descr);
        descr.appendChild(h3)
        descr.appendChild(details)
        details.appendChild(data)
        details.appendChild(local)
        descr.appendChild(abrirBtn)
    })
    }
  };

  xhttp.open('GET', '/minhas_atividades/' + username);
  xhttp.send();
</script>
</body>

</html>