<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/contacto.css">
</head>
<body>
    <section>
        <div class="top">
            <a href="index"><img id="backIcon" src="/recursos/arrow-left.svg" alt=""></a>
        </div>
        <div class="content">
            <div class="title">
                <h1>Notificacoes</h1>
            </div>
            <div class="box" id="boxN">
                <div class="notificacao">
                    <div class="message">
                        <img src="/recursos/mail (2).svg" alt="">
                        <span><p class="nome">Fábio_Flex</p> pediu para juntar-se à sua atividade <p class="nome"> Floresta Urbana </p> !</span>
                    </div>
                    <div class="buttons">
                        <button>Rejeitar</button>
                        <button>Aceitar</button>
                    </div>
                </div>
                <div class="notificacao">
                    <div class="message">
                        <img src="/recursos/mail (2).svg" alt="">
                        <span><p class="nome">Tom_Flex</p> pediu para juntar-se à sua atividade <p class="nome"> Lixo na Praia </p> !</span>
                    </div>
                    <div class="buttons">
                        <button>Rejeitar</button>
                        <button>Aceitar</button>
                    </div>
                </div>
                <div class="notificacao">
                    <div class="message">
                        <img src="/recursos/mail (2).svg" alt="">
                        <span><p class="nome">Filipa_R</p> pediu para juntar-se à sua atividade <p class="nome"> Campanha "Desliga a Luz" </p> !</span>
                    </div>
                    <div class="buttons">
                        <button>Rejeitar</button>
                        <button>Aceitar</button>
                    </div>
                </div>
                <div class="notificacao">
                    <div class="message">
                        <img src="/recursos/mail (2).svg" alt="">
                        <span><p class="nome">Rita_L</p> pediu para juntar-se à sua atividade <p class="nome"> Plantar Arvores na Floresta Urbana </p> !</span>
                    </div>
                    <div class="buttons">
                        <button>Rejeitar</button>
                        <button>Aceitar</button>
                    </div>
                </div>
                <div class="notificacao">
                    <div class="message">
                        <img src="/recursos/mail (2).svg" alt="">
                        <span><p class="nome">Ricardo_SD</p> pediu para juntar-se à sua atividade <p class="nome"> Corrida Verde </p> !</span>
                    </div>
                    <div class="buttons">
                        <button>Rejeitar</button>
                        <button>Aceitar</button>
                    </div>
                </div>
                <div class="notificacao">
                    <div class="message">
                        <img src="/recursos/mail (2).svg" alt="">
                        <span><p class="nome">MariaM</p> pediu para juntar-se à sua atividade <p class="nome"> Floresta Coimbra </p> !</span>
                    </div>
                    <div class="buttons">
                        <button>Rejeitar</button>
                        <button>Aceitar</button>
                    </div>
                </div>
            </div>
            <div class="buttonBox">
                <button id="limparBtn">Limpar</button>
            </div>
        </div>
    </section>
    <img class="leafImg" src="/recursos/leaf2.svg" alt="">
</body>

</html>